<%= link_to "new",   new_subject_path,:class=>'btn btn-info' %>

<div id="Tweet-summary" style="float: left;
     left: 14px;top: 3px;
     position: relative;
     width: 100%;">


  <table border="1" width="100%">
    <tr>
    <th>Class Id</th>
    <th>Subject Name</th>
    <th>Action</th>
    <th></th>
    </tr>
    <% @subject.each do |subject| %>
      <tr style="text-align: center;">
        <td><%=subject.school_class_id%> </td>
        <td><%= subject.subjectname%></td>

        <td>
          <%= link_to 'Show' ,  subject_path(:id=>subject.id),:class=>'btn btn-success' %>
          <%= link_to 'Edit' ,  edit_subject_path(:id=>subject.id),:class=>'btn btn-info' %>

           <%= link_to 'Delete' ,  subject_path(subject), :method => :delete, :data => {:confirm =>"are u sure?"},:class=>'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </table>
</div><br />





