<%=link_to "back",school_classes_path,:class=>'btn btn-info'%>
<div> 
  <%= f.label :ClassName %>
  <%=  f.text_field :name%>
</div>

<div> 
  <%= f.label :Description %>
  <%=  f.text_field :description%>
</div>
<div> 
  <%=  f.submit{@schoolclass.new_record? ? "save" : "update" }%>   
</div> 