<%= link_to "new",  new_school_class_path,:class=>'btn btn-info' %>

<div id="Tweet-summary" style="float: left;
     left: 14px;top: 3px;
     position: relative;
     width: 100%;">

  <table border="1" width="100%">
    <tr>
     
      <th>Class Name</th>
      <th>Description</th>
      <th>subjects</th>
      <th>Action</th>
      <th></th>
    </tr>
    <% @schoolclass.each do |schoolclass| %>
      <tr style="text-align: center;">
      
        <td><%= schoolclass.name %></td>
        <td><%= schoolclass.description %></td>
        <td><%= schoolclass.subjects.present? ? schoolclass.subjects.map{|ss| [ss.subjectname]}.join(",") : "" %></td>
        <td>
          <%= link_to 'Show' , school_class_path(schoolclass),:class=>'btn btn-success'  %>
          <%= link_to 'Edit' ,  edit_school_class_path(schoolclass),:class=>'btn btn-info' %>
          <%= link_to "Delete" , school_class_path(schoolclass),:method => :delete, :data => {:confirm =>"are u sure?"},:class=>'btn btn-danger' %>
        </td>
          <td><%=link_to "addsubject", new_subject_path(:school_class_id => schoolclass.id),:class=>'btn btn-primary' %></td>
      </tr>
    <% end %>
  </table>
</div><br />



